<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.agens.cassowarylayoutdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ExampleMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgrammaticDemoActivity"
            android:label="@string/title_activity_programmatic_demo" >
        </activity>
        <activity
            android:name=".XmlLayoutDemoActivity"
            android:label="@string/title_activity_xml_layout_demo" >
        </activity>
        <activity
            android:name=".CenterViewRelativeToSiblingActivity"
            android:label="@string/title_activity_center_view_relative_to_sibling" >
        </activity>
        <activity
            android:name=".CenterInParentActivity"
            android:label="@string/title_activity_center_in_parent" >
            android:name=".CassowaryLayoutInLinearLayout"
            android:label="@string/title_activity_cassowary_layout_in_linear_layout" >
        </activity>
        <activity
            android:name=".CassowaryLayoutMatchParentActivity"
            android:label="@string/title_activity_cassowary_layout_match_parent" >
        </activity>
        <activity
            android:name=".CassowaryLayoutWrapContentActivity"
            android:label="@string/title_activity_cassowary_layout_wrap_content" >
        </activity>
        <activity
            android:name=".CassowaryLayoutInLinearLayoutActivity"
            android:label="@string/title_activity_cassowary_layout_in_linear_layout" >
        </activity>
        <activity
            android:name=".DynamicWidthActivity"
            android:label="@string/title_activity_dynamic_width" >
        </activity>
        <activity
            android:name=".ParallaxScrollingActivity"
            android:label="@string/title_activity_parallax_scrolling" >
        </activity>
        <activity
            android:name=".LinearLayoutInCassowaryLayoutActivity"
            android:label="@string/title_activity_linear_layout_in_cassowary_layout" >
        </activity>
        <activity
            android:name=".IntrinsicHeightTextInWrapContentContainerActivity"
            android:label="@string/title_activity_intrinsic_height_text_in_wrap_content_container" >
        </activity>
        <activity
            android:name=".ChessBoardActivity"
            android:label="@string/title_activity_chess_board" >
        </activity>
        <activity
            android:name=".CassowaryLayoutsInCassowaryLayoutActivity"
            android:label="@string/title_activity_cassowary_layouts_in_cassowary_layout" >
        </activity>
    </application>

</manifest>
