<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.agens.cassowarylayoutdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CassowaryLayoutDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgrammaticDemo"
            android:label="@string/title_activity_programmatic_demo" >
        </activity>
        <activity
            android:name=".XmlLayoutDemo"
            android:label="@string/title_activity_xml_layout_demo" >
        </activity>
        <activity
            android:name=".CenterViewRelativeToSibling"
            android:label="@string/title_activity_center_view_relative_to_sibling" >
        </activity>
        <activity
            android:name=".CenterInParent"
            android:label="@string/title_activity_center_in_parent" >
            android:name=".CassowaryLayoutInLinearLayout"
            android:label="@string/title_activity_cassowary_layout_in_linear_layout" >
        </activity>
        <activity
            android:name=".CassowaryLayoutMatchParent"
            android:label="@string/title_activity_cassowary_layout_match_parent" >
        </activity>
        <activity
            android:name=".CassowaryLayoutWrapContent"
            android:label="@string/title_activity_cassowary_layout_wrap_content" >
        </activity>
        <activity
            android:name=".CassowaryLayoutInLinearLayout"
            android:label="@string/title_activity_cassowary_layout_in_linear_layout" >
        </activity>
        <activity
            android:name=".DynamicWidth"
            android:label="@string/title_activity_dynamic_width" >
        </activity>
        <activity
            android:name=".LinearLayoutInCassowaryLayout"
            android:label="@string/title_activity_linear_layout_in_cassowary_layout" >
        </activity>
    </application>

</manifest>
